@model nxLINEadmin.Model.SettingViewModel
@{
    ViewData["Title"] = "設定";
}
@section Css {

    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/all.css">
    <link rel="stylesheet" href="~/assets/vendor/daterangepicker/daterangepicker.css" type="text/css" />
    <link rel="stylesheet" href="~/css/custom.css" type="text/css" />
    <link href="~/css/bootstrap-tagsinput.css"
          rel="stylesheet" />
    <style type="text/css">
        .bootstrap-tagsinput .tag {
            margin-right: 2px;
            color: white !important;
            background-color: #0d6efd;
            padding: 0.2rem;
        }

        .bootstrap-tagsinput {
            width: 100%;
            margin-bottom: 0.75rem;
            padding: 0.45rem;
        }

        table.dataTable thead > tr > th.sorting {
            text-align: center !important;
        }
        .text-center {
            text-align: center;
        }

        .text-right {
            text-align: right;
        }
    </style>
}
<div class="row my-2">
    @if (ViewBag.errorType == "error")
    {
        <div class="alert alert-danger alert-dismissible text-bg-danger border-0 fade show" role="alert" id="alert-show">
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
            @ViewBag.errorMsg
        </div>
    }

    @if (ViewBag.errorType == "success")
    {
        <div class="alert alert-success alert-dismissible text-bg-success border-0 fade show" role="alert" id="alert-show">
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
            @ViewBag.errorMsg
        </div>
    }
</div>
<div class="mt-3 d-flex justify-content-between align-items-center">
    <h3 class="b-900 ml-2 mb-0"><i class="fa-solid fa-gear fa-lg text-main" aria-hidden="true"></i>&nbsp;権限設定</h3>
    <div class="d-flex justify-content-start align-items-center">
    </div>
</div>
<div class="container mt-2">
    <div class="d-flex justify-content-between align-items-center mb-2">
        <h5 class="font-weight-bold mb-0">権限管理</h5>
        <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#bs-example-modal-lg"><i class="mdi mdi-account-multiple-plus-outline mdi-24px me-1"></i> <span>ユーザー追加</span> </button>
    </div>
    <table class="table table-hover table-centered mb-0 data-table">
        <thead>
            <tr>
                <th>ログインID</th>
                <th>ユーザー名</th>
                <th>メールアドレス</th>
                <th>権限</th>
                <th>作成日</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var user in Model.Users)
            {
                <tr>
                    <td>@user.UserLoginId</td>
                    <td>@user.UserName</td>
                    <td>@user.UserEmail</td>
                    <td>@user.UserLineAccountRole</td>
                    <td>@user.UserCreated.ToString("yyyy-MM-dd")</td>
                    <td class="table-action text-center">
                        <a href="/Setting/UserDelete?userID=@user.UserId" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="modal fade" id="bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myLargeModalLabel">ユーザー追加</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
                </div>
                <div class="modal-body">
                    <form asp-action="UserSave" asp-controller="setting" method="post">
                        <input asp-for="newUser.UserId" type="hidden">
                        <input asp-for="newUser.Status" type="hidden" value="1">
                        <div class="field form-group mt-2">
                            <label for="">ログインID</label>
                            <input asp-for="newUser.UserLoginId" class="form-control" autocomplete="email" value="" required>
                        </div>
                        <div class="field form-group mt-2">
                            <label for="">ユーザー名</label>
                            <input asp-for="newUser.UserName" class="form-control" autocomplete="email" value="" required>
                        </div>
                        <div class="field form-group mt-2">
                            <label for="">メールアドレス</label>
                            <input type="email" asp-for="newUser.UserEmail" class="form-control" autocomplete="email" value="" required>
                        </div>
                        <div class="field form-group mt-2">
                            <label for="">権限</label>
                            <select class="custom-select form-control" asp-for="newUser.UserLineAccountRole">
                                <option value="staff">スタッフ</option>
                            </select>
                            <small id="" class="form-text text-muted">スタッフは会員証を読み取りポイント処理のみ可能です。</small>
                        </div>
                        <div class="field form-group mt-2">
                            <label>パスワード</label>
                            <input type="password" asp-for="newUser.UserPwd" class="form-control" autocomplete="new-password" value="" required="">
                        </div>
                        <div class="field form-group mt-2">
                            <label>パスワード(確認)</label>
                            <input type="password" asp-for="newUser.UserRePwd" class="form-control" value="" required="">
                        </div>
                        <button type="submit" class="btn btn-primary btn-sm py-2 px-4 mt-2">追加</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/setting.js" ></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
